<ion-header no-border>
  <ion-toolbar no-border>
      <ion-title>
          Ionic 4 Firestart
      </ion-title>
  <ion-buttons slot="start" >
      <ion-button [routerLink]="['/profile']" >
        <ion-icon color="primary" slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="form">
  
    <ion-card color="" mode="ios">

      <ion-card-content *ngFor="let item of item">
        <h1 class="goodfont">Welcome back {{item.payload.doc.data().name }} !</h1>
      </ion-card-content>
    </ion-card>
    <br>
    <br>
    <!-- Not working right now!!!  -->
   
  </div>

  <!-- Animation -->

  
  
  

</ion-content>