svg.atom {
    //outline: 1px solid black;
    max-height:100vh;
    max-width:100vw;
    overflow:visible;
  }
  
  svg circle.kern {
    fill: #FFEA00;
    stroke:none;
    filter: drop-shadow(0px 0px 4px #AEEA00);
  }
  .atom path {
    fill:none;
    stroke:#EEFF41;
    //stroke:#EEFF41;
    stroke-width:.06;
  }
  /* 129 = ellipse.getTotalLength() */
  path.tail {
    stroke: #bda800;
    //stroke: #1B5E20;
    fill:none;
    animation: atom 1.5s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: 20,44.5;
    stroke-width: .6;
  }
  path.electron {
    stroke: #FFEA00;
    //stroke:  #1B5E20;
    fill:none;
    animation: atom 1.5s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: .1,64.4;
    stroke-width: 2;
    stroke-linecap:round;
  }
  path.tail1, path.electron1 {
    animation-delay:-1.0s;
  }
  path.tail2, path.electron2 {
    animation-delay:-1.4s;
  }
  /* 129 = ellipse.getTotalLength() */
  @keyframes atom {
    to { stroke-dashoffset:129; }
  }
  
  
  
  /* 
  
  Template boilerplate CSS
  
  */
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
  html { 
    height: 100%; 
    background: #1A2A3A;  
    color: #FFF; 
  }
  body {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
  }
  
  *,
  *:before,
  *:after {
    position: relative;
    box-sizing: border-box;
  }
  
  .dwf, .share {
    position:fixed;
    bottom:4px;
    right:10px;
    background-color:#0003;
    padding:3px;
    border-radius:3px;
    .btn {
      color:#fff;
      text-decoration:none
    }
  }
  .share {
    right:auto;
    left:10px;
    border-radius:50%;
    padding:5px;
    .twitter {
      width: 20px;
      fill:#fff;
      stroke:none;
      overflow:visible;
    }
    .ani {
      animation:share 7s ease-in infinite;
      transform-origin:0% 100%;
    }
    @keyframes share {
      85% {
        transform: scale(1);
        opacity:.8;
      }
      100% {
        transform: scale(5);
        opacity:0;
      }
    }
  }
  
  