

.circle{
    padding: 5px;
    width: 150px;
    margin-top: 25px;
    height: 150px;
    border-radius: 100%;
    background: white;
    border: 2px solid white;
}

h3 {
    color:#3880ff;
}

h5 {
    color:#3880ff;

}