<ion-content padding text-center>
    
    <div  class="form">
        <img style="margin:auto;" src="assets/icon/ionic_firebase-logo.png" alt="">
        <h4>Register
        </h4>
        <h3 class="goodfont">Ionic  Firestarter</h3>
        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Email" (keyup.enter)="moveFocus(b)" [(ngModel)]="email"></ion-input>

            </ion-item>
            <br>
            <ion-item>
                <ion-input [type]="passwordType" #b type="password" (keyup.enter)="moveFocus(c)" placeholder="Password" [(ngModel)]="password"></ion-input>
                <ion-icon (click)='hideShowPassword()' name="eye" item-right></ion-icon>
            </ion-item>
            <br>
            <ion-item>

                <ion-input (keyup.enter)="register()" [type]="passwordType" #c placeholder="Repeat password" type="password" [(ngModel)]="cpassword"></ion-input>
                <ion-icon (click)='hideShowPassword()' name="eye" item-right></ion-icon>
            </ion-item>

        </ion-list>
        <br>
        <ion-button class="goodfont boton"  mode="ios" fill="solid" expand="block" color="primary" (click)="register()">Registrer</ion-button>
        <br>
        <p class="register-text" (click)="goLogin()"> You have a account ?<a> Login</a> </p>
    </div>

</ion-content>