<ion-content padding text-center>
    <img style="margin:auto;" src="assets/icon/ionic_firebase-logo.png" alt="">
    <ion-list>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>

    </ion-list>
    <ion-button fill="solid" expand="block" color="primary" (click)="register()">Register</ion-button>
    <ion-button fill="solid" expand="block" color="danger" (click)="registerGmail()">Register with Gmail</ion-button>
    <p>You have account?</p>
</ion-content>